@{
    ViewData["Title"] = "Contact";
}
<h2>Contact Me</h2>
<h3>Andy Grossberg</h3>

<address>
    5544 SE Hillwood Circle<br />
    Portland, OR 97267<br />
    <abbr title="Phone">P:</abbr>
    415-317-1569
</address>

<address>
    <strong>Email:</strong> <a href="mailto:andy.grossberg@gmail.com">andy.grossberg@gmail.com</a><br />
    <strong>LinkedIn:</strong><a href="https://www.linkedin.com/in/andy-grossberg">LinkedIn</a>
</address>
